body{
    color: red;
    background-color: turquoise;
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px solid palevioletred;
    width: 350px;
    height: 300px;
}
.name_of_object, #result_object_name, #result_object_accuracy{
    color: rgb(27, 63, 226);
    font-size: 22px;
}